# Игнорировать все .log файлы
*.log

# Игнорировать временные файлы Windows
Thumbs.db
.DS_Store

# Игнорировать папку с личными данными
СИНР работы/

# Игнорировать все .pyc файлы Python
*.pyc

# Игнорировать папку node_modules
node_modules/
